#posts {
    display: inline-block;
    padding-top: 25px;
    margin-left: 200px;
    width: 900px;
}

#addPost {
    margin-bottom: 20px;
}

#addPostButton {
    color: white;
    background-color: orange;
    border: none;
    
    width: 100%;
    padding: 10px;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    
    cursor: pointer;
    transition: opacity 0.5s;
}

#addPostButton:hover {
    opacity: 0.5;
}

#addPostButton:focus {
    outline: none;
}

#postBox {
    display: block;
    padding: 10px;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
}

#postBox:focus {
    outline: none;
    border: 1px solid orange;
}

#studentList {
    padding: 0px;
}

#studentList li {
    position: relative;
    padding: 15px 0px;
    list-style: none;
    border-top: 1px solid #d3d3d3;
}

.filterBar {
    display: inline-block;
    position: absolute;
    width: 250px;
    margin: 25px;
    z-index: 0;
}

.filterBarTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.filterCriteria {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-top: 1px solid #d3d3d3;
}

.inputBox {
    display: flex;
    align-items: center;
}

.inputLabel {
    padding: 10px 10px 10px 0px;
}

.filterCriteria input {
    position: absolute;
    right: 50px;
    width: 50px;
    padding: 5px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    border: 1pt solid #d3d3d3;
    border-radius: 5px;
}

.filterCriteria input:focus {
    outline: none;
    border: 1pt solid orange;
}

#userSearchBar {
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    font-size: 20px;
    width: 97.5%;
}

#userSearchBar:focus{
    outline: none;
    border: 1px solid orange;
}

#clearFilterButton{
    font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	background-color: orange;
	padding: 10px;
	color: white;
	border: none;
	transition: opacity 0.5s;
	margin-left: 40px;
}
