body {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	margin: 0;
}

a {
	color: black;
}

a:hover {
	color: orange;
}

span {
	cursor: default;
}

.homeContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.homeForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 40px;
	border: 1px solid black;
}

.homeLogo {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	transition: color 0.5s;
}

.homeLogo:hover {
	color: orange;
}

.homeInput {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;

	width: 100%;
	padding: 10px;
	margin-bottom: 20px;

	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	text-align: left;
}

.homeInput:focus {
	outline: none;
	border: 1px solid orange;
}

.homeInput:placeholder {
	color: lightgrey;
	transition: color 0.25s;
}

.homeInput:focus::placeholder {
	color: transparent;
}

.homeButton {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;

	color: white;
	background-color: black;
	border: none;
	border-radius: 5px;

	font-family: inherit;
	font-size: inherit;
	font-weight: 400;

	transition: background-color 0.5s;
}

.homeButton:hover {
	background-color: orange;
}

.homeButton:focus {
	outline: none;
}