.profileCard {
  border: 1px solid #d3d3d3;
  padding: 40px;
  margin-left: 200px;
  position: relative;
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profileIcon {
  width: auto;
  display: inline-block;
}

.profileIcon i.far.fa-user {
  font-size: 8em;
  color: lightgrey;
}

.inputList {
  display: inline-block;
  margin-left: 100px;
}

.inputList ul {
  margin: 0px;
  padding: 0px;
  width: 40vw;
}

.inputList ul li {
  padding-left: 0px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

.inputList ul li input {
  width: 250px;
  margin-left: 15px;
  font-size: 20px;
  border: 1px solid #d3d3d3;
  transition: border 0.5s;
}

.inputList ul li input:focus {
  outline: none;
  border: 1px solid orange;
}

.profileButton {
  margin-top: 10px;
  color: white;
  background-color: orange;
  border: none;
  margin-left:700px;
  width:200px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profileContainer {
    position: relative;
    margin-left: 200px;
    width: 70vw;
    border-top: 1px solid #d3d3d3;
}

.profileField {
    margin-top: 20px;
    font-family: inherit;
    font-size: 20px;
}

.profileField input {
    margin-left: 10px;
    margin-right: 40px;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    width: 250px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.profileField input:focus {
    outline: none;
    border: 1px solid orange;
}

.profileFieldValue {
    margin-right: 40px;
}

.profileActionButton {
    position: absolute;
    right: 0;
    margin-top: 20px;
    width: 225px;
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    transition: background 0.5s;
}

.profileActionButton:hover {
    background: orange;
}

.profileActionButton:focus {
    outline: none;
}

::placeholder {
    color: black;
}