body {
  font-family: "Roboto", sans-serif;
  background-color: #FAF6F6;
  font-size: 20px;
  margin: 0px;
    
}

.exsistingStudent{
  float: left;
  width: 500px;
}

.outer {
  height: 200px;
}

.card {
  border-width:5px;  
  border-style:double;
  position: relative;
  min-height: 500px;
  height: auto;
  width: 1100px;
  margin-top: 74px;
  margin-left: 150px;
  margin-right: 70px;
  margin-bottom: 74px;
  box-shadow: 5px 10px;
  color: #2d545e;
  transition: margin-left .5s;
}

.header{
  box-shadow: 3px 4px;
  margin-top: 20px;
  margin-left: 40px;
  width: 150px;
  font-weight:bold;
  font-size: 50px;
}

.student{
  margin-top: 30px;
  margin-left:40px;
  margin-bottom: 20px;
  width:auto;
  max-width: 400px;
  min-height:100px;
  height:auto;
  border-style: ridge;
  border-width:5px; 
  border-color: #98AFC7;
  color: #2d545e;
  box-shadow: 3px 4px #504A4B;
  transition: transform .4s;
  float: left;
}


.student:hover{
  transform: scale(1.1,1.1);
}

.icon {
   font-size: 40px;
   margin-top: 10px;
   margin-left: 10px;
   float: left;
}


.profileStats{
 margin-left: 20px;
}

.profileStats ul {
  margin-top: 10px;
  margin-bottom: 0px;
}
.profileStats ul li {
  padding: 5px;
  font-size: 120%;
  font-weight: bold;
  list-style: none; 
}

.profileStatsNumber {
  margin-left: 10px;
}

.number {
  transition: transform .3s;
}
.number:hover{
  color: orange;
  transform: scale(1.05,1.05);
}

.button {
  position: absolute;
  margin-top: 50px;
  margin-left: 350px;
  border-color:;
  border-style:double;
  text-align: center;
  transition: transform .3s;
  box-shadow: 3px 4px;
}


.button:hover{
  color: orange;
  transform: scale(1.2);

}

.button2{
  position: absolute;
  margin-top: 100px;
  margin-left: 350px;
  width: 125px;
  border-color:;
  border-style:double;
  text-align: center;
  transition: transform .3s;
  box-shadow: 3px 4px;
}


.button2:hover{
   color: orange;
  transform: scale(1.2);

}

.newStudent{
  position: absolute;
  min-height: 100px;
  width: 490px;
  box-shadow: 3px 4px;
  border-width:5px;  
  border-style:double;
   z-index: 1;
   background-color: #98AFC7;
}

.studentinfo{
}
.studentinfo ul {
  margin-top: 10px;
  margin-bottom: 0px;
}
.studentinfo ul li {
  padding: 5px;
  font-size: 100%;
  font-weight: bold;
  list-style: none; 
}

.button3:hover{
  color: orange;
  transform: scale(1.2);

}

.button3{
  margin-top: 15px;
  margin-left: 150px;
  margin-bottom: 10px;
  width: 125px;
  border-color:;
  border-style:double;
  text-align: center;
  transition: transform .3s;
  box-shadow: 3px 4px;
}


.popup {
  background-color: #FAF6F6;
  z-index: 1;
  position:fixed;
  top: 100px;
  left:200px;
  width: 800px; 
  height: 300px;
  border-width:5px;  
  border-style:double;
  box-shadow: 3px 4px;
  display: none;
}

.popupcontent{
  position: absolute;
  color: #DC143C;
  margin-top: 80px;
  margin-left: 250px;
  font-weight: bold;
  font-size: 200%;
}


.cross{
   transition: transform .3s;
   margin-left:95%;
   margin-top:3%;
}


.cross:hover{
  color: orange;
  transform: scale(2,2);
}

.operation {
  position: fixed;
  margin-top: -50px;
  margin-left:550px;
  min-height: 300px;
  width: 500px;
 /* box-shadow: 3px 4px;
  border-width:5px;  */
  /*border-style:double;*/
}

.searchStudent{
  position: absolute;
  margin-top: 150px;
  min-height: 100px;
  width: 490px;
  box-shadow: 3px 4px;
  border-width:5px;  
  border-style:double;
  z-index: 1;
  background-color: #98AFC7;
}

.searchForm{
  font-weight: bold;
  margin-left: 40px;
  margin-top: 15px;
}

.searchText{
  transition: transform .3s;
  box-shadow: 3px 4px #504A4B;
}

.searchText:hover{
  transform: scale(1.1,1.1);
}

.button4{
  margin-top: 15px;
  margin-left: 150px;
  margin-bottom: 10px;
  width: 125px;
  border-color:;
  border-style:double;
  text-align: center;
  transition: transform .3s;
  box-shadow: 3px 4px;
}

.button4:hover{
  color: orange;
  transform: scale(1.2);

}

.searchForm {
  transition: transform .3s;
}
.searchForm:hover{
  color: orange;
  transform: scale(1.05);
}



/*
These are features of side bar
*/
a {
	color: lightgray;
	text-decoration: none;
	cursor: pointer;
}

.hamburger-toggle {
    position: absolute;
    cursor: pointer;
    color: lightgray;
    transition-duration: 0.5s;
    font-size: 23px;
}

.hamburger-toggle:hover {
    color: orange;
}

.collapsedMenu {
    height: 100%;
    background-color: #333;
    width: 50px;
    position: absolute;
    transition: margin-left .5s;
}

.collapsedMenuIcon {
    padding: 12px 8px 6px 10px;
    font-size: 28px;
    color: lightgray;
    display: block;
    transition: 0.3s;
    text-align:left;
}

.collapsedMenu a:hover {
    color: orange;
}

.hamburgerMenu {
    height: 100%;
    width: 0;
    position: fixed;
/*  z-index: 1; */
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.hamburgerMenuLink {
    padding: 5px 8px 12px 32px;
    font-size: 25px;
    color: lightgray;
    display: block;
    transition: 0.3s;
    text-align:right;
}

.hamburgerMenuLink:hover {
    color: orange;
    
}

.tooltip {
  position: relative;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 100px;
  background-color: orange;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-weight: bold;
  
  /* Position the tooltip */
  position: absolute;
  /*  z-index: 1;*/
  top: 8px;
  left: 105%;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

#navbar {
	width: 100%;
	padding: 15px;
	background-color: #333;
}

#logo {
	display: inline-block;
	transform: translateX(15vw);
	font-weight: 700;
    cursor: default;
}

#logo:hover {
	color: orange;
}

.dropdownMenu {
	float: right;
	margin-right: 150px;
    cursor: pointer;
}

.dropdownMenu:hover .dropdownButton {
	color: orange;
}

.dropdownMenu:hover .dropdownContent {
	display: block;
}

.dropdownButton {
	font-weight: 400;
	padding: 15px;
}

.dropdownContent {
	display: none;
	margin-top: 15px;
	position: absolute;
}

.dropdownCourse {
	display: block;
	min-width: 100px;
	padding: 15px;
	text-align: center;
	background-color: #333;
}

.dropdownCourse:hover {
	background-color: orange;
    color: #333;
}

.notificationBell {
    display: inline-block;
    transform: translateX(85vw);
    position: relative;
    transition: margin-right .5s;
}

.fas.fa-bell:after {
    content: "2";
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 10px;

    position: absolute;
    top: -6;
    left: 12;

    border-radius: 50%;
    padding: 2px;
    min-width: 10px;
    min-height: 10px;
    width: auto;
    height: auto;

    background-color: orange;
    color: #333;
}
