body {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	margin: 0;
}

a {
	color: black;
}

a:hover {
	color: orange;
}

span {
	cursor: default;
}

.formContainer {
	width: 100%;
	margin-bottom: 20px;
}

.halfFormContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.halfForm {
	margin: 0;
	width: 49%;
}

.errorMessage {
	color: red;
	font-size: 10px;
}