body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 20px;
  margin: 0px;
    
}

.coursesearchbox {
  
}

.button4 a{
  color: white;
}
.button4 a:hover{
  color: white;
}

.button5 a{
  color: white;
}
.button5 a:hover{
  color: white;
}

.button3 a{
  color: white;
}

.addCourse a{
  color: white;
}

.addCourse a:hover{
  color: white;
}

.button3 a:hover{
  color: white;
}

.text a{
  color: white;
}
.text a:hover{
  color: white;
}

.exsistingCourse{
  float: left;
  width: 40%;
  margin-top:40px;
  margin-bottom:10px;
  margin-left:50px;
	display: grid;
}

.Courseouter {
  margin-top: 0px;
  margin-left: -50px;
  height: 190px;
  float: left;
  width: 107%;
  border: 1px solid #d3d3d3;
}

.card {
  position: relative;
  margin-top: 45px;
  min-height: 550px;
  margin-left: 170px;
 /* overflow:auto*/
}

.header{
  margin-top: 20px;
  margin-left: 40px;
  width: 150px;
  font-weight:bold;
  font-size: 50px;
}

.student{
  margin-top: 30px;
  margin-left:40px;
  margin-bottom: 20px;
  width:auto;
  max-width: 400px;
  min-height:100px;
  height:auto;
 /* box-shadow: 3px 4px #504A4B;*/
  transition: transform .4s;
  float: left;
}




.icon {
   font-size: 40px;
   margin-top: 10px;
   margin-left: 10px;
   float: left;
}


.profileStats{
 margin-left: 20px;
}

.profileStats ul {
  margin-top: 10px;
  margin-bottom: 0px;
}
.profileStats ul li {
  padding: 5px;
  font-size: 120%;
  font-weight: bold;
  list-style: none; 
}

.coursenumber {
  margin-top: 5px;
  float: left;
}

.numberone {
  float: left;
}


.coursebutton {
  position: absolute;
  margin-top: 45px;
  margin-left: 400px;
  text-align: center;
}

.courseedit {
  font-size: 50px;
  margin-top:35px;
  margin-left: 900px;
}

.courseedit:hover {
  color: orange;
}

.courseedittwo {
  font-size: 50px;
   margin-left: 900px;

}
.courseedittwo:hover {
  color: orange;
}


/*.button:hover{
  color: orange;
  transform: scale(1.05);

}*/

.button2{
  position: absolute;
  margin-top: 150px;
  margin-left: 350px;
  width: 125px;
  text-align: center;
  transition: transform .3s;
}


.button2:hover{
   color: orange;
 /* transform: scale(1.2);*/

}

.newStudent{
  min-height: 100px;
  width: 700px;
  /* z-index: 1;*/
}

.studentinfo{
  margin-top: 45px;
}
.studentinfo ul {
  margin-top: 10px;
  margin-bottom: 0px;
}
.studentinfo ul li {
  padding: 5px;
  font-size: 100%;
  font-weight: bold;
  list-style: none; 
  float: left;
}

.button3 {
  margin-top: -70px;
  height: 25px;
  margin-left: 130px;
  width: 200px;
   color: white;
    background-color: black;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;  
    cursor: pointer;
    border-radius: 5px;
}
.button3:hover{
  background-color: orange;
}

.button3:focus {
    outline: none;

}

.addCourse{
  margin-top: -65px;
  height: 25px;
  margin-left: 110px;
  width: 200px;
  color: white;
  background-color: black;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;  
  cursor: pointer;
  border-radius: 5px;

}

.addCourse:hover{
  background-color: orange;
}

.addCourse:focus {
    outline: none;

}

.courseoperation {
   position: absolute;
  top: -35px;
  left:500px;;
  min-height: 150px;
  width: 300px;
}

.searchCourse{
  margin-top:-39px;
  margin-left:250px;
}
.button5 {
  margin-top: 5px;
  width: 200px;
  transition: transform .3s;
   color: white;
    background-color: black;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;  
    cursor: pointer;
    transition: opacity 0.5s;
   border-radius: 5px;
}
.button5:hover{
  background-color: orange;
}

.button5:focus {
    outline: none;

}

.courseFrom{
  font-weight: bold;
}
.searchStudent{
 /*s*/
  margin-top: 150px;
  /*z-index: 1;*/
}

.searchForm{
  font-weight: bold;
  margin-left: 40px;
  margin-top: 15px;
}

.searchText{
}

.searchText:hover{
}

.button4 {
  margin-top: 5px;
  margin-left: 50px;
  width: 200px;
  transition: transform .3s;
   color: white;
    background-color: black;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;  
    cursor: pointer;
    transition: opacity 0.5s;
   border-radius: 5px;
}
.button4:hover{
  background-color: orange;
}

.button4:focus {
    outline: none;

}

.searchForm {
  /*transition: transform .3s;*/
}
.searchForm:hover{
}


.text {
  transition: transform .3s;
   color: white;
    background-color: black;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;  
    cursor: pointer;
    transition: opacity 0.5s;
    border-radius: 5px;
}
.text:hover{
   background-color: orange;
}

.text:focus {
    outline: none;
}

.bold {
  font-weight:bold;
}

.coursebackbutton {
  margin-top: -155px;
  font-size: 50px;
  margin-left: 970px;
}

.coursebackbutton:hover {
   color: orange;
  }



