#header {
  font-size: 20px;
}

#header a {
  text-decoration: none;
}

#hamburgerMenu {
  position: fixed;
  overflow: hidden;


  width: 0;
  height: 100%;

  background-color: #333;
  transition: 0.5s;
}

#hamburgerMenu a {
  display: block;
  margin: 15px 0px 15px 25px;

  text-align: center;
  font-size: 25px;
  color: #d3d3d3;

  transition: 0.3s;
}

#hamburgerMenu a:hover {
  color: orange;
}

#hamburgerCollapsedMenu {
  position: fixed;

  width: 50px;
  height: 100%;

  background-color: #333;
  transition: 0.5s;
}

#hamburgerCollapsedMenu a {
  display: block;
  margin: 10px;

  text-align: left;
  font-size: 30px;
  color: #d3d3d3;

  transition: 0.3s;
}

#hamburgerCollapsedMenu a:hover {
  color: orange;
}

.hamburgerContent {
  position: absolute;
  bottom: 15px;
}

#navbar {
	padding: 15px 0px;
	background-color: #333;
}

#navbarLogo {
	display: inline-block;
  width: 85%;
  font-size: 25px;
  font-weight: 700;
  color: #d3d3d3;
  text-align: center;
  cursor: default;
}

#navbarDropdownMenu {
	display: inline-block;
  color: #d3d3d3;
  min-width: 150px;
}

#navbarDropdownButton {
	font-weight: 400;
	padding: 15px;
  cursor: pointer;
}

#navbarDropdownContent {
	display: none;
	margin-top: 15px;
	position: absolute;
  z-index: 1;
}

.navbarDropdownCourse {
	display: block;
	min-width: 100px;
	padding: 15px;
	text-align: center;
	background-color: #333;
  color: #d3d3d3;
  cursor: pointer;
}

#navbarDropdownMenu:hover #navbarDropdownButton {
  color: orange;
}

#navbarDropdownMenu:hover #navbarDropdownContent {
  display: block;
}

.navbarDropdownCourse:hover {
	background-color: orange;
  color: #333;
}

#notificationBell {
  display: inline-block;
  color: #d3d3d3;
  cursor: pointer;
  
}

/* FONT AWESOME STYLING */

.hamburger-toggle {
  cursor: pointer;
  transition-duration: 0.5s;
}

.hamburger-toggle:hover {
  color: orange;
}

.notificationCounter {

    color: orange;
    font-size:15px;
    position: relative;
    bottom: 10px;
    right:5px;

}

/*.fas.fa-bell:after {*/
/*  content: "2";*/
/*  text-align: center;*/
/*  font-family: "Roboto", sans-serif;*/
/*  font-size: 10px;*/
/**/
/*  position: relative;*/
/*  bottom: 12px;*/
/*  right: 5px;*/
/**/
/*  border-radius: 50%;*/
/*  padding: 2.5px;*/
/**/
/*  background-color: orange;*/
/*  color: #333;*/
/*}*/
