.profileIcon i.fa.fa-user-circle {
  font-size: 8em;
  color: lightgrey;
}

.postPageMessageInput {
	display: block;
	font-size: 20px;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #d3d3d3;
}

.postPageMessageInput:focus {
	outline: none;
	border: 1px solid orange;
}

#headerContainer{
    display:inline-block;
}

.h2HeaderPost{
    margin-left:20px;
    display:inline-block;
}

.backButton{
    display:inline-block;
    margin-left:170px;
    color:black;
    text-decoration: none;
}

.Link{

}
