body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 20px;
  margin: 0px;
    
}

.outer {

  margin-left: -10px;
  height: 200px;
  float: left;
   width: 90%;
    border: 1px solid #d3d3d3;
}


.Userheader{
  margin-top: 20px;
  margin-left: 40px;
  width: 150px;
  font-weight:bold;
  font-size: 50px;
}


.edit {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 900px;
}

.edit:hover {
  color: orange;
}

.edittwo {
  font-size: 50px;
  margin-top: px;
  margin-left: 900px;

}
.edittwo:hover {
  color: orange;
}

.backbutton {
  margin-top: -170px;
  font-size: 50px;
  margin-left: 940px;
}

.backbutton:hover {
   color: orange;
  }



.text {
  margin-top: 10px;
  width: 200px;
  margin-left:10px;
}

.button {
  position: absolute;
  margin-top: 70px;
  margin-left: 450px;
  text-align: center;
  transition: transform .3s;
}


.exsistingStudent {
  margin-top: 40px;
}


/*.button:hover{
  color: orange;
  transform: scale(1.05);

}*/


.popup {
  background-color: #FAF6F6;
  z-index: 1;
  position:fixed;
  top: 100px;
  left:200px;
  width: 800px; 
  height: 300px;
  border-width:5px;  
  border-style:double;
  box-shadow: 3px 4px;
}

.popupcontent{
  position: absolute;
  color: #DC143C;
  margin-top: 80px;
  margin-left: 250px;
  font-weight: bold;
  font-size: 200%;
}


.cross{
   transition: transform .3s;
   margin-left:96%;
   margin-top:3%;
   min-height: 30px;
   
}

.searchbox  {
  margin-top: 40px;
  
}


.cross:hover{
  color: orange;
  /*transform: scale(2,2);*/
}

.operation {
  position: absolute;
  top: 82px;
  left:600px;
  min-height: 150px;
  width: 300px;
 /* box-shadow: 3px 4px;
  border-width:5px;  */
}

.search{
 /*s*/
  margin-top: -60px;
  margin-left: 150px;
 
}


.bold {
  font-weight:bold;
}

.searchForm {
  margin-top: -100px;
}


