.postHeader {
    font-size: 30px;
    display: flex;
}

.postContent {
	font-size: 18px;
    margin-top: 20px;
    font-style: italic;
}

.postInfo {
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
	line-height: 30px;
}

.fa-star.noMatch {
	position: absolute;
	cursor: pointer;
	color: black;
	right: 0px;
}

.fa-star.noMatch:hover {
    color: orange;
}

.fa-star.match {
	position: absolute;
	cursor: pointer;
	color: orange;
	right: 0px;
}

.fa-trash-alt.trash {
	position: absolute;
    cursor: pointer;
    right: 0px;
}

.fa-trash-alt.trash:hover {
    color: orange;
}