body {
  font-family: "Roboto", sans-serif;
  background-color: #FAF6F6;
  font-size: 20px;
  margin: 0px;
    
}

.card {
  border-width:5px;  
  border-style:double;
  position: relative;
  height: 500px;
  width: 1100px;
  margin-top: 74px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 74px;
  box-shadow: 5px 10px;
  color: #2d545e;


}

.icon{
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
}

.usericon {
  color: lightgray;
  font-size: 100px;

}

.profileStats{
 margin-left: 150px;
}

.profileStats ul {
  margin-top: 60px;
  margin-bottom: 0px;
}
.profileStats ul li {
  padding: 15px;
  margin-right: 10px;
  font-size: 120%;
  font-weight: bold;
  list-style: none; 
}

.profileStatsNumber {
  margin-left: 30px;
}


.text {
   text-decoration: none;
   font-size:120%;
   color: #2d545e;
}

.text:hover{
  color: orange;
}
.button {
  margin-left: 700px;
  width: 175px;
  border-color:;
  border-style:double;
  text-align: center;
  transition: transform .3s;
  box-shadow: 3px 4px;
}

.button:hover{
  transform: scale(1.2);
}

.number {
  transition: transform .3s;
}
.number:hover{
  color: orange;
  transform: scale(1.05,1.05);
}


.popup {
  background-color: #FAF6F6;
  z-index: 1;
  position:fixed;
  top: 200px;
  left:200px;
  width: 70%; 
  height: 40%;
  border-width:5px;  
  border-style:double;
  box-shadow: 3px 4px;
  display: none;
}

.popupcontent{
  color: #DC143C;
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
  font-weight: bold;
  font-size: 200%;
}


.cross{
   transition: transform .3s;
   margin-left:95%;
   margin-top:3%;
}


.cross:hover{
  color: orange;
  transform: scale(2,2);
}