body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 20px;
  margin: 0px;
    
}

.card {
  border-width:5px;  
  border: 3px solid #d3d3d3;
  position: relative;
  height: 500px;
  width: 1100px;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 74px;
	transition: .5s;
}

.icon{
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
}

.usericon {
  color: lightgray;
  font-size: 100px;

}

.profileStats{
 margin-left: 150px;
}

.profileStats ul {
  margin-top: 60px;
  margin-bottom: 0px;
}
.profileStats ul li {
  padding: 15px;
  margin-right: 10px;
  font-size: 120%;
  font-weight: bold;
  list-style: none; 
}

.profileStatsNumber {
  margin-left: 30px;
}


.text {
   text-decoration: none;
   font-size:120%;
   color: #2d545e;
}

.text:hover{
  color: orange;
}
.profilebutton {
    color: white;
    background-color: orange;
    border: none;
    margin-left:700px;
    width:200px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    
    cursor: pointer;
    transition: opacity 0.5s;
}

.profilebutton:hover {
    opacity: 70%;
}

.profilebutton:focus {
    outline: none;
}

.number {
  transition: transform .3s;
}
.number:hover{
  color: orange;
  transform: scale(1.05,1.05);
}


.popup {
  background-color: #FAF6F6;
  z-index: 1;
  position:fixed;
  top: 200px;
  left:200px;
  width: 800px; 
  height: 300px;
  border-width:5px;  
  border-style:double;
  box-shadow: 3px 4px;
  display: none;
}

.popupcontent{
  position: absolute;
  color: #DC143C;
  margin-top: 80px;
  margin-left: 250px;
  font-weight: bold;
  font-size: 200%;
}


.cross{
   transition: transform .3s;
   margin-left:95%;
   margin-top:3%;
}


.cross:hover{
  color: orange;
  transform: scale(2,2);
}


