body {
  font-family: "Roboto", sans-serif;
  background-color: #FAF6F6;
  font-size: 20px;
  margin: 0px;
    
}

.card {
  border-width:5px;  
  border-style:double;
  position: relative;
  height: 500px;
  width: 1100px;
  margin-top: 74px;
  margin-left: 150px;
  margin-right: 70px;
  margin-bottom: 74px;
  box-shadow: 5px 10px;
  color: #2d545e;	
	transition: .5s;
}

.icon{
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
}

.usericon {
  color: lightgray;
  font-size: 100px;

}

.profileStats{
 margin-left: 150px;
}

.profileStats ul {
  margin-top: 60px;
  margin-bottom: 0px;
}
.profileStats ul li {
  padding: 15px;
  margin-right: 10px;
  font-size: 120%;
  font-weight: bold;
  list-style: none; 
}

.profileStatsNumber {
  margin-left: 30px;
}


.text {
   text-decoration: none;
   font-size:120%;
   color: #2d545e;
}

.text:hover{
  color: orange;
}
.button {
  margin-left: 700px;
  width: 175px;
  border-color:;
  border-style:double;
  text-align: center;
  transition: transform .3s;
  box-shadow: 3px 4px;
}

.button:hover{
  transform: scale(1.2);
}

.number {
  transition: transform .3s;
}
.number:hover{
  color: orange;
  transform: scale(1.05,1.05);
}


.popup {
  background-color: #FAF6F6;
  z-index: 1;
  position:fixed;
  top: 200px;
  left:200px;
  width: 800px; 
  height: 300px;
  border-width:5px;  
  border-style:double;
  box-shadow: 3px 4px;
  display: none;
}

.popupcontent{
  position: absolute;
  color: #DC143C;
  margin-top: 80px;
  margin-left: 250px;
  font-weight: bold;
  font-size: 200%;
}


.cross{
   transition: transform .3s;
   margin-left:95%;
   margin-top:3%;
}


.cross:hover{
  color: orange;
  transform: scale(2,2);
}



/*Header Css Settings*/

a {
	color: lightgray;
	text-decoration: none;
	cursor: pointer;
}

.hamburger-toggle {
    position: absolute;
    cursor: pointer;
    color: lightgray;
    transition-duration: 0.5s;
    font-size: 23px;
}

.hamburger-toggle:hover {
    color: orange;
}

.collapsedMenu {
    height: 100%;
    background-color: #333;
    width: 50px;
    position: absolute;
    transition: margin-left .5s;
}

.collapsedMenuIcon {
    padding: 12px 8px 6px 10px;
    font-size: 28px;
    color: lightgray;
    display: block;
    transition: 0.3s;
    text-align:left;
}

.collapsedMenu a:hover {
    color: orange;
}

.hamburgerMenu {
    height: 100%;
    width: 0;
    position: fixed;
/*  z-index: 1; */
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.hamburgerMenuLink {
    padding: 5px 8px 12px 32px;
    font-size: 25px;
    color: lightgray;
    display: block;
    transition: 0.3s;
    text-align:right;
}

.hamburgerMenuLink:hover {
    color: orange;
    
}

.tooltip {
  position: relative;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 100px;
  background-color: orange;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-weight: bold;
  
  /* Position the tooltip */
  position: absolute;
  /*  z-index: 1;*/
  top: 8px;
  left: 105%;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

#navbar {
	width: 100%;
	padding: 15px;
	background-color: #333;
}

#logo {
	display: inline-block;
	transform: translateX(15vw);
	font-weight: 700;
    cursor: default;
}

#logo:hover {
	color: orange;
}

.dropdownMenu {
	float: right;
	margin-right: 150px;
    cursor: pointer;
}

.dropdownMenu:hover .dropdownButton {
	color: orange;
}

.dropdownMenu:hover .dropdownContent {
	display: block;
}

.dropdownButton {
	font-weight: 400;
	padding: 15px;
}

.dropdownContent {
	display: none;
	margin-top: 15px;
	position: absolute;
}

.dropdownCourse {
	display: block;
	min-width: 100px;
	padding: 15px;
	text-align: center;
	background-color: #333;
}

.dropdownCourse:hover {
	background-color: orange;
    color: #333;
}

.notificationBell {
    display: inline-block;
    transform: translateX(85vw);
    position: relative;
    transition: margin-right .5s;
}

.fas.fa-bell:after {
    content: "2";
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 10px;

    position: absolute;
    top: -6;
    left: 12;

    border-radius: 50%;
    padding: 2px;
    min-width: 10px;
    min-height: 10px;
    width: auto;
    height: auto;

    background-color: orange;
    color: #333;
}
