.matchBox {
	position: relative;
	width: 350px;
	padding: 20px;
	border: 1px solid #d3d3d3;
	margin-bottom: 20px;
	text-align: center;
}

.matchOption {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.matchBoxButton {
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	background-color: orange;
	padding: 10px;
	color: white;
	border: none;
	transition: opacity 0.5s;
	margin-top: 15px;
}

.matchBoxButton:hover {
	opacity: 0.5;
}

.matchBoxButton:focus {
	outline: none;
}

.removeBoxButton {
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	background-color: orange;
	padding: 10px;
	color: white;
	border: none;
	transition: opacity 0.5s;
	margin-top: 15px;
}

.removeBoxButton:hover {
/*	opacity: 0.5;*/
    background:red;
}

.removeBoxButton:focus {
	outline: none;
}
