#posts {
    display: inline-block;
    padding-top: 25px;
    margin-left: 200px;
    width: 900px;
}

#addPostButton {
    color: white;
    background-color: orange;
    border: none;
    
    width: 100%;
    padding: 20px 20px;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    
    cursor: pointer;
    transition: opacity 0.5s;
}

#addPostButton:hover {
    opacity: 70%;
}

#addPostButton:focus {
    outline: none;
}

#studentList {
    padding: 0px;
}

#studentList li {
    position: relative;
    padding: 15px 0px;
    list-style: none;
    border-top: 1px solid #d3d3d3;
}

.filterBar {
    display: inline-block;
    position: absolute;
    width: 250px;
    margin: 25px;
    z-index: 0;
}

.filterBarTitle {
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.filterCriteria {
    padding: 10px 0px;
    border-top: 1px solid #d3d3d3;
}

.filterItem {
    padding-bottom: 20px;
}

.filterItem:last-child {
    padding-bottom: 0px;
}

/* FONT AWESOME STYLING */

#userSearchBar {
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    font-size: 20px;
    width: 97.5%;
}

#userSearchBar:focus{
    outline: none;
    border: 1px solid orange;
}
