#header {
  font-size: 20px;
}

#header a {
  text-decoration: none;
}

#hamburgerMenu {
  position: fixed;
  overflow: hidden;


  width: 0;
  height: 100%;

  background-color: #333;
  transition: 0.5s;
}

#hamburgerMenu a {
  display: block;
  margin: 0px 0px 10px 25px;

  text-align: center;
  font-size: 25px;
  color: #d3d3d3;

  transition: 0.3s;
}

#hamburgerMenu a:hover {
  color: orange;
}

#hamburgerCollapsedMenu {
  position: fixed;

  width: 50px;
  height: 100%;

  background-color: #333;
  transition: 0.5s;
}

#hamburgerCollapsedMenu a {
  display: block;
  margin: 10px;

  text-align: left;
  font-size: 30px;
  color: #d3d3d3;

  transition: 0.3s;
}

#hamburgerCollapsedMenu a:hover {
  color: orange;
}

.hamburgerContent {
  position: absolute;
  bottom: 15px;
}

#navbar {
	background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbarLogo {
	display: inline-block;
  font-size: 25px;
  font-weight: 700;
  color: #d3d3d3;
  text-align: center;
  transform: translateX(50vw);
  transition: color 0.5s;
}

#navbarLogo:hover {
  color: orange;
}

#userOptions {
  display: inline-block;
}

#navbarDropdownMenu {
	display: inline-block;
  color: #d3d3d3;
  padding: 15px;
}

#navbarDropdownButton {
	font-weight: 400;
	padding: 15px;
  cursor: pointer;
}

#navbarDropdownContent {
	display: none;
	margin-top: 15px;
	position: absolute;
  z-index: 1;
}

.navbarDropdownCourse {
	display: block;
	min-width: 100px;
	padding: 15px;
	text-align: center;
	background-color: #333;
  color: #d3d3d3;
  cursor: pointer;
}

#userOptions {
  margin-right: 20px;
}

.navbarLink {
  display: inline-block;
  color: #d3d3d3;
}

#navbarDropdownMenu:hover #navbarDropdownButton {
  color: orange;
}

#navbarDropdownMenu:hover #navbarDropdownContent {
  display: block;
}

.navbarDropdownCourse:hover {
	background-color: orange;
  color: #333;
}

/* FONT AWESOME STYLING */

.hamburger-toggle {
  cursor: pointer;
  transition: 0.5s;
}

.hamburger-toggle:hover {
  color: orange;
}