
.postHeader {
    font-size: 30px;
}

.postDesc {
	font-size: 18px;
    margin-top: 20px;
    font-style: italic;
}

.posterName {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.posterEmail {
	display: inline-block;
	color: gray;
}

.fa-star.noMatch {
	position: absolute;
	color: black;
	right: 0px;
	cursor: pointer;
}

.fa-star.match {
	position: absolute;
	color: orange;
	right: 0px;
	cursor: pointer;
}